<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Black Rabbit</title>
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quicksand" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
   integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link href="../css/stylesheet.css" rel="stylesheet">
   <link href="../css/jquery-ui.css" rel="stylesheet">
   <script src="../js/jquery.min.js"></script>
   <script src="../js/jquery-ui.js"></script>
   <!-- google oauth -->
   <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
   <!-- cryptographic javascript libraries-->
   <script src="../js/index.js"></script>
   <script src="../js/user/core.js"></script>
   <script src="../js/user/sha256.js"></script>
   <script src="../js/user/login.js"></script>
   <script src="../js/search.js"></script>
   <script src="../js/shopping-cart.js"></script>
</head>

<body>
    <% if (user != undefined && user.role == 'admin') { %>
        <% include template/header-admin %>
    <% } else {%>
        <% include template/header %>
    <% } %>    
    <div class = "container-content">
        <% include template/navigation %>
        <%- body %>
    </div>
    <% include template/login %>
    <% include template/cart %>
</body>

</html>
