<!--shopping cart popup dialog box-->
<div class = "shopping-cart-container" title = "Your shopping cart!">
    <ul class = "shopping-cart">
        <li class = "shopping-list">
            <img class = "product-image" src="../resources/products/art/01.jpg" width = "50px" height = "50px">
            <label>Product name </label>
            <input type="number" name="quantity" min="1" max="10" value="1">
            <button class = "cart-delete"><span  class = "modern-pic-icon">x</span></button>
            <label> $29.90 </label>
        </li>
    </ul>
    <h3>Subtotal: </h3>
    <button id = "cart-checkout-submit">CHECKOUT</button>
</div>
