<header>
   <div id = "search-box" class ="input-text">
      <input type=“search” name=“search” id="search-text" placeholder="Search…">
  </div>
   <ul>
       <li class = "tabs">Hi, <b><%= user.name %>! </b><button id = "logout-btn"> sign out </button></li>
   </ul>
</header>
