<div class = "nav-container">
 <div class = "logo">
    <a href="/" title="Black Rabbit"><img src="../resources/logo.png" id = "logo-icon" alt="Black Rabbit"/></a>
 </div>

 <nav class="nav_wrap">
   <ul>
<!--<li class="current-menu-item"><a href="#">Home</a></li>-->
        <li><a href="#">PRODUCTS <span id = "arrow-down">▼<span></a>
             <ul>
                  <li><a id = "menu-shop-all" href="/collections/everything">SHOP ALL</a></li>
                  <li><a href="/collections/arts">ARTS</a></li>
                  <li><a href="/collections/homedecor">HOME DECOR</a></li>
                  <li><a href="/collections/homewares">HOMEWARES</a>
             <ul>
                  <li><a href="#">Deep Menu 1</a>
                       <ul>
                            <li><a href="#">Sub Deep 1</a></li>
                            <li><a href="#">Sub Deep 2</a></li>
                            <li><a href="#">Sub Deep 3</a></li>
                            <li><a href="#">Sub Deep 4</a></li>
                       </ul>
                  </li>
                  <li><a href="#">Deep Menu 2</a></li>
             </ul>
        </li>
  </ul>
</li>

<li><a id = "menu-new" href="/collections/new">NEW</a>
  <!--<ul>
    <li class="dir"><a href="#">Sub Menu 2</a>
      <ul>
        <li><a href="#">Category 1</a></li>
        <li><a href="#">Category 2</a></li>
        <li><a href="#">Category 3</a></li>
        <li><a href="#">Category 4</a></li>
        <li><a href="#">Category 5</a></li>
      </ul>
    </li>
    <li><a href="#">Sub Menu 3</a></li>
    <li><a href="#">Sub Menu 4</a></li>
  </ul>-->
</li>
<li><a href="/collections/sale">SALE</a></li>
</ul>
</nav>
</div>
