<h1>Admin Dashboard</h1>
<div class = "order-view-container">
    <h3 class = "subtitle">Shopping Carts Summary</h3></br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date Added</th>
                <th>Cart ID</th>
                <th>Status</th>
                <th>Customer Email</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < products.length; i++) {%>
            <tr class = "order-rows">
                <td><%= products[i].date_added %></td>
                <td class = "row-cart-id"><%= products[i].cartid %></td>
                <% if (products[i].sold == 'true'){%>
                    <td class = "row-status">COMPLETE</td>
                <% } else {%>
                    <td class = "row-status">INCOMPLETE</td>
                <% } %>
                <td class = "row-user"><%= products[i].email %></td>
                <td>...</td>
                <td><button class = "row-edit-btn"><span class = "modern-pic-icon">V</span></button><button class = "row-delete-btn"><span class = "modern-pic-icon">X<span></button></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div>
    <div id = "order-edit-container">
        <form class = "input-text">
            <label for="cart-id" id = "edit-cartid"></label></br>
            <label for="email" id = "edit-email"></label></br>
            <label for="status" id = "edit-status"></label></br>
        </form>
        <div class = "shopping-cart-container">
            <ul class = "shopping-cart"></ul>
        </div>
  </div>
</div>
