<!--<div class = "side-bar"></div>-->
<div class = "products-list-wrap">
   <h3 class = "result-label"></h3>
   <div class = "products-list">
      <% for (var i = 0; i < products.length; i++) {%>
        <div class="products-list_single">
            <img class = "product-image" src = "<%= '../'+products[i].imagepath %>" width = "250px" height = "250px"></br>
            <span class = "product-name"><%= products[i].name %></span></br>
            <span class = "product-price">$ <%= products[i].price %></span></br>
            <button id = "<%= products[i].id %>" class="cart-submit" onclick = addToCart(this.id)>ADD TO CART</button><br />
        </div>
         <% } %>
   </div>
</div>
