<!--<div class = "side-bar"></div>-->
<div class = "products-list-wrap">
   <div class = "products-list">
      <!-- <% for (var i = 0; i < products.rows.length; i++) {%>
        <div class="products-list_single">
            <img class = "product-image" src = "<%= '../'+products.rows[i].imagepath %>" width = "250px" height = "250px"></br>
            <span class = "product-name"><%= products.rows[i].name %></span></br>
            <span class = "product-price">$ <%= products.rows[i].price %></span></br>
            <input type="button" value="ADD TO CART" class="cart-submit">
        </div>
         <% } %>-->
   </div>
</div>
