<div class = "admin-search">

</div>

<table class="table table-striped">
 <thead>
     <tr>
         <th>Date Added</th>
         <th>Date Modified</th>
         <th>Name</th>
         <th>Cart ID</th>
         <th>Status</th>
         <th>Customer Email</th>
         <th>Total Amount</th>
         <th>Action</th>
     </tr>
</thead>
<tbody>
    <tr>
        <td>Carolina Biggleswade</td>
        <td>23</td>
        <td>65</td>
        <td>Jockey</td>
    </tr>
</tbody>
</table>
