<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Blak Rabbit</title>
<link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quicksand" rel="stylesheet">
<link href="css/stylesheet.css" rel="stylesheet">
<script src="scripts/jquery-3.2.1.min.js"></script>
<script src="scripts/jquery-ui.min.js"></script>
<script src="shopping_cart.js"></script>
</head>
<body>

	<header>
		<ul>
			<li class = "tabs"><button>LOG IN</button></li>
    		<li class = "tabs"><button><span id = "cart-icon">i</span> CART</button></li>
    		<li class = "tabs"><button>CHECKOUT</button></li>
    	</ul>
	</header>

	<div class = "container-content">

		<div class = "logo">
			<a href="#" title="Black Rabbit">
				<img src="../resources/logo.png" alt="Black Rabbit"/>
       		</a>
		</div>

		<div class = "menu">
			<ul>
				<li class = "menu-tabs"><button>SHOP NOW</button></li>
    			<li class = "menu-tabs"><button>NEW</button></li>
    			<li class = "menu-tabs"><button>SALE</button></li>
    			<li class = "menu-tabs"><button>BRANDS</button></li>
    		</ul>
		</div>

		<div class = "home-features">

		</div>

	</div>

</body>
</html>
