<!doctype html>
<html>

<head>
   <meta charset="UTF-8">
   <title>Black Rabbit</title>
   <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quicksand" rel="stylesheet">
   <link href="css/stylesheet.css" rel="stylesheet">
   <link href="css/jquery-ui.css" rel="stylesheet">
   <script src="js/jquery.min.js"></script>
   <script src="js/jquery-ui.js"></script>
   <!-- cryptographic javascript libraries-->
   <script src="js/core.js"></script>
   <script src="js/sha256.js"></script>
   <script src="js/login.js"></script>
   <script src="js/search.js"></script>
</head>

<body>

<header>
   <div id = "search-box" class ="input-text">
      <input type=“search” name=“search” id="search-text" placeholder="Search…">
   </div>
   <ul>
      <li class = "tabs"><button id = "login-btn">LOG IN</button></li>
      <li class = "tabs"><button><span id = "cart-icon">i</span> CART</button></li>
      <li class = "tabs"><button>CHECKOUT</button></li>
   </ul>
</header>

<div class = "container-content">
   <div class = "logo">
      <a href="#" title="Black Rabbit"><img src="resources/logo.png" alt="Black Rabbit"/></a>
   </div>

   <nav id="nav_wrap">
     <ul>
  <!--<li class="current-menu-item"><a href="#">Home</a></li>-->
          <li><a href="#">PRODUCTS <span id = "arrow-down">&#709;<span></a>
               <ul>
                    <li><a href="#">SHOP ALL</a></li>
                    <li><a href="#">ARTS</a></li>
                    <li><a href="#">CARDS</a></li>
                    <li><a href="#">HOMEWARES</a>
               <ul>
                    <li><a href="#">Deep Menu 1</a>
                         <ul>
                              <li><a href="#">Sub Deep 1</a></li>
                              <li><a href="#">Sub Deep 2</a></li>
                              <li><a href="#">Sub Deep 3</a></li>
                              <li><a href="#">Sub Deep 4</a></li>
                         </ul>
                    </li>
                    <li><a href="#">Deep Menu 2</a></li>
               </ul>
          </li>
    </ul>
  </li>

  <li><a id = "menu-new">NEW</a>
    <!--<ul>
      <li class="dir"><a href="#">Sub Menu 2</a>
        <ul>
          <li><a href="#">Category 1</a></li>
          <li><a href="#">Category 2</a></li>
          <li><a href="#">Category 3</a></li>
          <li><a href="#">Category 4</a></li>
          <li><a href="#">Category 5</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu 3</a></li>
      <li><a href="#">Sub Menu 4</a></li>
    </ul>-->
  </li>
  <li><a href="#">SALE</a></li>
</ul>
</nav>

   <div class = "home-features">
     <h1>HELLO WORLD!!!!!!!!!! HTML & CSS</h1>
   </div>

</div>

<!--log in form popup dialog box-->
<div id="login-dialog" title="Login now!">
  <div class="selection">
    <button id="signin-btn">SIGN IN</button>
    <button id="register-btn">REGISTER</button>
  </div>

  <div id = "login-container">
    <form class = "input-text">
      <input type="email" name="email" id="email" placeholder="Email">
      <input type="password" name="password" id="password" placeholder="Password">
      <input type="button" value="LOG IN" id="login-submit">
    </form>
  </div>

  <div id = "register-container">
    <form class = "input-text">
      <input type="text" name="name-reg" id="name-reg" placeholder="Name">
      <input type="email" name="email-reg" id="email-reg" placeholder="Email">
      <input type="password" name="password-reg" id="password-reg" placeholder="Password">
      <input type="password" name="password-reg-confirm" id="password-reg-confirm" placeholder="Confirm Password">
      <input type="button" value="CREATE ACCOUNT" id="register-submit">
    </form>
  </div>
</div>

</body>
</html>
