<div class = "replace-container">
<div class = "home-features">
    <a href="/collections/arts"><img src="../resources/homefeature.png" id = "homefeature-photo" alt="NEW ARRIVALS"/></a>
</div>
</div>

<div class = "products-list-wrap">
   <h3 class = "result-label"></h3>
   <div class = "products-list">
   </div>
</div>

<div class = "admin-container">
<h1>Admin Dashboard</h1></br>
<button id = "users-table-btn">USERS</button>
<button id = "carts-table-btn">SHOPPING CARTS</button>
<button id = "save-table-btn">SAVE TO FILE</button>
<div class = "order-view-container">
    <h3 class = "subtitle">Shopping Carts Summary</h3></br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date Added</th>
                <th>Cart ID</th>
                <th>Status</th>
                <th>Customer Email</th>
                <th>Total Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class = "table-body">
        </tbody>
    </table>
</div>

<div class = "users-view-container">
    <h3 class = "subtitle">All Users Summary</h3></br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Password</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody class = "user-table-body">
        </tbody>
    </table>
</div>

<div>
    <div id = "order-edit-container">
        <h2>Customer Shopping Cart Summary</h2></br>
        <form class = "input-text">
            <label for="cart-id">CART ID</label>
            <input type="text" name="item-edit-cartid" class="item-edit-cartid">
            <label for="cart-id">EMAIL</label>
            <input type="text" name="item-edit-email" class="item-edit-email">
            <label for="cart-id">DATE ADDED</label>
            <input type="text" name="item-edit-date" class="item-edit-date"></br></br>
            <label>Added Products Included: </label></br></br>
            <ul class = "shopping-cart">
            </ul>
            <h3><b>Subtotal: <span class = "cart-subtotal"></span></b></h3>
        </form>
  </div>
</div>

<div>
    <div id = "user-edit-container">
        <form class = "input-text">
            <label for="email">EMAIL</label></br>
		    <input type="text" name="user-edit-email" class="user-edit-email">
            <label for="password">PASSWORD</label></br>
            <input type="text" name="user-edit-password" class="user-edit-password">
            <label for="name">NAME</label></br>
            <input type="text" name="user-edit-name" class="user-edit-name">
            <label for="role">ROLE</label></br>
            <input type="text" name="user-edit-role" class="user-edit-role">
            <button class = "saving-btn">SUBMIT</button>
        </form>
  </div>
</div>

</div>

<script>
    if ((localStorage.name != undefined && localStorage.role != 'admin') || localStorage.name == undefined || localStorage.name === 'null' ){
        $.ajax({
            method: 'POST',
            url: '/collections/index/new',
            success: function(data) {
                $('.products-list').empty();   // removed the previous content
                // get json array of products which match query in some way
                $('.products-list').append('</br><span class = "title-name">NEW ARRIVAL</span></br>');
                for (i = 0; i < 4; i++) {
                    addProductToList(data[i]);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error!!!!');
            }
        });
    }
</script>
