<div class = "replace-container">
<div class = "home-features">
    <a href="/collections/arts"><img src="../resources/homefeature.png" id = "homefeature-photo" alt="NEW ARRIVALS"/></a>
    </div>
</div>

<div class = "products-list-wrap">
   <h3 class = "result-label"></h3>
   <div class = "products-list">
   </div>
</div>
