<head>
   <meta charset="UTF-8">
   <title>Black Rabbit</title>
   <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans|Quicksand" rel="stylesheet">
   <link href="css/stylesheet.css" rel="stylesheet">
   <link href="css/jquery-ui.css" rel="stylesheet">
   <script src="js/jquery.min.js"></script>
   <script src="js/jquery-ui.js"></script>
   <script src="js/login.js"></script>
</head>
<div id="login-dialog" title="Login now!">
   <div class="selection">
      <button id="signin-btn">SIGN IN</button>
      <button id="register-btn">REGISTER</button>
   </div>

   <div id = "login-container">
      <form class = "input-text">
         <input type="email" name="email" id="email" placeholder="Email">
         <input type="password" name="password" id="password" placeholder="Password">
         <input type="button" value="LOG IN" id="login-submit">
      </form>
   </div>

   <div id = "register-container">
      <form class = "input-text">
         <input type="text" name="name-reg" id="name-reg" placeholder="Name">
         <input type="email" name="email-reg" id="email-reg" placeholder="Email">
         <input type="password" name="password-reg" id="password-reg" placeholder="Password">
         <input type="password" name="password-reg-confirm" id="password-reg-confirm" placeholder="Confirm Password">
         <input type="button" value="CREATE ACCOUNT" id="register-submit">
      </form>
 </div>
</div>
