html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; 
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

@font-face {
  font-family: 'ModernPictograms';
  src: url("../views/fonts/modernpics-webfont.eot");
  src: url("../views/fonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("../views/fonts/modernpics-webfont.woff") format("woff"),     /* Modern Browsers */
       url("../views/fonts/modernpics-webfont.ttf") format("truetype"),  /* Safari, Android, iOS */
       url("../views/_fonts/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; 
}

body {
  line-height: 1.2;
  background-color: rgba(240,245,250, .8);
}

.tabs{
  list-style: none;
  font-family: 'Quattrocento Sans', sans-serif;
  float: left;
  padding: 10px 15px 10px 15px;
  display: block;    
  text-decoration: none;
}

#cart-icon {
  font-family: ModernPictograms;
  font-size: 16px;
}

header { 
    background:#ffffff; 
    position:fixed; 
    top:0; 
    left:0; 
    z-index:2000; 
    width:100%;
}

header ul {
    margin-top: 5px;
    list-style: none;
    position: relative;
    display: inline-table;
    margin-left: 65%;
}

header li:hover {
    opacity: 0.5;
}

header button {
  display:inline-block;
  position:relative;
  background-color: transparent;
  cursor: pointer;
  border:0;
  padding:0;
  text-decoration:none;
  font-size: 80%;
}

.container-content{
  position: relative;
  width: 60%;
  left: 20%;
  padding-top: 70px;
}

.logo{
  position: relative;
  float: left;
}

.menu{
  position: block;
  display:inline;
  position: inline-block;
  background-color: blue;
}

.menu-tabs{
  list-style: none;
  font-family: 'Quattrocento Sans', sans-serif;
  float: left;
  padding: 15px 20px 15px 20px;
  display: block;    
  text-decoration: none;
}

.menu ul {
  list-style: none;
  position: relative;
}

.menu li:hover {
  opacity: 0.5;
}

.menu button{
  display:inline-block;
  position:relative;
  background-color: transparent;
  cursor: pointer;
  border:0;
  padding:0;
  text-decoration:none;
  font-size: 120%;
}

.home-features{
  background-color: brown;
  height: 500px;
  margin-top: 80px;
}
